<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <!-- <mat-icon>home</mat-icon> -->
  <a class="navbar-brand" href="#">
    Brand
  </a>
  <div class="collapse navbar-collapse ">
    <div class="d-flex flex-row">
      <div class="p-2">
        <mat-icon style="vertical-align: -webkit-baseline-middle;">reorder</mat-icon>
      </div>
    </div>
    <div class="mx-auto">
      <form class="form-inline">
          <div class="row" style="width:800px">
            <input class=" flipkart-navbar-input form-control col-sm-10" type="search" placeholder="Search Brand, Products & More" aria-label="Search">
            <button class=" flipkart-navbar-button btn  my-2 my-sm-0 col-sm-2" type="submit">
              <svg width="15px" height="15px">
                  <path d="M11.618 9.897l4.224 4.212c.092.09.1.23.02.312l-1.464 1.46c-.08.08-.222.072-.314-.02L9.868 11.66M6.486 10.9c-2.42 0-4.38-1.955-4.38-4.367 0-2.413 1.96-4.37 4.38-4.37s4.38 1.957 4.38 4.37c0 2.412-1.96 4.368-4.38 4.368m0-10.834C2.904.066 0 2.96 0 6.533 0 10.105 2.904 13 6.486 13s6.487-2.895 6.487-6.467c0-3.572-2.905-6.467-6.487-6.467 "></path>
              </svg>
            </button>
          </div>
      </form>
      </div>
      <div class="d-flex flex-row-reverse">
          <div class="p-2">
            <form class="form-inline my-2 my-lg-0" >
                <button class="btn  my-2 my-sm-0" type="submit">sign in</button>
            </form>
          </div>
          <div class="p-2">
            <form class="form-inline my-2 my-lg-0" >
                <button class="btn  my-2 my-sm-0" type="submit">Cart</button>
            </form>
          </div>
        </div>
  </div>
</nav>
